body {
    color: white;
    background-color: black;
    
}


.picture {
    background-color: none;
    width: 100%;
    max-height: 30vh;
    padding: 0;
    z-index: -2;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
    img{
        width: 100%;
        overflow: hidden;
        z-index: -3;
    }
}