
$blue:#19adb2;
$yellow: #DAD674;


body {
    margin: 0;
    color: white;
    min-height: 100%;
    // background-color: rgb(20, 20, 20);
}

main{
    overflow: auto;
    padding-bottom: 5.5rem;
}

footer{
    background-color: rgb(20, 20, 20);
    text-align: center;
    position: relative;
    // margin-top: -1rem;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        li{
            margin: 0 1em;
        }
    }
}

header {
    position: absolute;
    width: 98vw;
    margin: 2em 2em 0px 10px;
    display: flex;
    justify-content: center;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px black solid;
        
    }
    
    .logo {
        margin-left: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            margin-right: 1em;
        }
    }
    nav{
        margin-right: 2em;
        .menu {
          display: flex;

             li {
                list-style-type: none;
                margin-left: 1em;
                z-index: 2;

                a{
                    color: white;
                    text-decoration: none;
                }

                a:hover{
                    color: $blue;
                    text-shadow: 1px 1px 3px #073233;
                    transition: .25s;
                }
            }
        }
    }
}

.container {
    max-width: 1600px;
    width: 1200px;
}

.banner {
    width: 100%;

    .calltoaction{
        z-index: 1;
        position: absolute;
        top: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 1px black;

        h1{
            font-size: 4em;
            padding: 0;
            margin: 0;
        }
        

        .line{
            height: 2px;
            background-color: $yellow;
            width: 10%;
        }
    }

    #video {
        z-index: -2;
        width: 100%;
        height: auto;
        box-shadow: 0px 1px 5px 1px black;
    }
}



